<h1> Battle Game </h1>

<form action='/names'method='post'>
  <label for="player_1_name">Player 1: </label>
  <input placeholder="Enter your Name" name='player_1_name'><br><br>
  <label for="player_2_name">Player 2: </label>
  <input placeholder="Enter your Name" name='player_2_name'><br><br>
  <p>Do you think you have what it takes?<p>
  <label for="Submit">Let's go!</label><br><br>
  <input type= 'submit' value='Submit'>
</form>
